.sliser{
    position: relative;
    .owl-nav{
        button{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        .owl-next{
            right: 0;
        }
    }
    .owl-dots{
        display: flex;
        justify-content: center;
        padding: 10px;
        button{
            width: 20px;
            height: 20px;
            background: #333333 !important;
            border-radius: 50%;
            transition: all 0.4s;
            margin-right: 7px;
            &:last-child{
                margin-right: 0;
            }
            &.active{
                background: red !important;
            }
        }
    }
}