@media (max-width: 768px){

    .menu-toggle{
        display: flex !important;
    }
    .navbar{
        display: none;
    }
}

@media (max-width: 1000px){

    .container{
    width: 95%;
    }

}