.cha{
    width: 435px;
    height: 80px;
    // background: red;
    // border: 1px solid black;

    // align-items: center;
    // justify-content: center;

    // background-image: url('http://picsum.photos/300/300');
    //   background-repeat: no-repeat;
    //   background-position: right center;
     background:url('http://picsum.photos/300/300') no-repeat right center;
    // background-color: red;     
   .con{
        width: 435px;
         height: 15px;
         background: blue;
//         background: blue;
//         color: white;
//         border-left: 3px solid red;
//         text-align: center;
//         // &:nth-child(2n+1){
//         //     border-left: none;
//         // }
//         // &:hover{
//         //     background: red;
//         // }
    }
}