.text{
    // font-size: 20px;
    color: red;
    padding: 10px 5px 5px 5px; 
}
.toi{
    display: flex;
    // border: 2px solid red;
    padding: 20px 5px 10px 5px;
}
.list{
    display: flex
}
.em{
    border: 2px solid red;
}